<div class="container card card-body" id="print" style="border: none;">
  <app-header></app-header>
  <app-about-me *ngIf="aboutMe"></app-about-me>
  <app-recommendations *ngIf="recommendation"></app-recommendations>
  <app-projects *ngIf="projects"></app-projects>
  <app-experience *ngIf="experience"></app-experience>
  <app-education *ngIf="education"></app-education>
  <app-certificates *ngIf="certificates"></app-certificates>
  <app-referee *ngIf="referee"></app-referee>
  <app-external-resources *ngIf="externalResources"></app-external-resources>
</div>


