<div class="card">
  <div class="card-header">
    {{education?.title}}
  </div>
  <div class="card-body">
    <ul class="timeline">
      <li *ngFor="let education of education.education">
        <h6 style="font-weight:  bold">{{education.name}}</h6>
        <h5>{{education.institute}}</h5>
        <label class="text-primary">{{education.from}} - {{education.to}}</label><br>
        <span *ngFor="let tag of education.tecTags" class="badge badge-pill badge-primary"
              target="_blank">{{tag}}</span>
      </li>
    </ul>
  </div>
</div>
<br>
